*{
    padding: 0;
    margin: 0;
    font-family: Be-Vietnam;
    box-sizing: border-box;
}
@font-face {
    font-family: Be-Vietnam;
    src: url(/Static/Fonts/BeVietnam-Regular.ttf);
}
#chk-btn:checked+.navbar-menu{
        height: 160px;
}
// .skyblue-shadded{
//     background: linear-gradient(90deg, rgba(134, 168, 255, 0.33) 0%, rgba(128, 232, 255, 0.33) 100%);
// }